 body{ 
   overflow: -moz-scrollbars-none; 
   margin: 0% !important;
}


header{
  background-color: black;
  padding-top: .5%;
  text-align: center !important;
}

.header-cut-out{
  color:transparent !important;
  background-image: url('photos/11.jpeg');
  -webkit-background-clip:text;
  background-clip:text;
  background: fit;
  background-position-y: -297px;
  background-position-X: -108PX;
  background-repeat: no-repeat;
}

span{
  /* margin:0% !important; */
  font-size:100px;
  color: white;
  font-family: 'Bebas Neue';
  /* height: 100px; */
  display: inline-block;
}

.grid-container {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns:  auto auto auto auto;
    margin: 1% 2%;
  }
  
  .grid-item {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: center; 
    padding: 50%;
  }

  
.icon{
  width: 3%;
  height: auto;
}

.contacts{
  padding: 0% !important;
  margin: 0% !important;
}