 body{ 
   overflow: -moz-scrollbars-none; 
   margin: 0% !important;
}


header{
  background-color: black;
  padding: .5% 2%;
  display: grid;
  grid-column-gap: 25%;
  grid-template-columns:  auto auto;
}

.header-cut-out{
  color:transparent !important;
  background-image: url('photos/plants/18.jpeg');
  -webkit-background-clip:text;
  background-clip:text;
  background: fit;
  background-position-y: -194px;
  background-position-X: -319px;
  background-repeat: no-repeat;
  margin-top: -10%;
  padding-left: 1%;
}

.title{
  color: white;
  font-family: 'Bebas Neue';
  text-align: left !important;
  padding:0% !important; 
  font-size:75px;
}

.icon-container{
  text-align: right !important;
}

.icon{ 
  width:70px;
  padding-top:7px;
}

.grid-container {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1% 2%;
  }

  .header{
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    
    }
  
    p{
      color: rgb(255, 255, 255);
      margin:0 !important;
      font-family: 'Bebas Neue';
      font-size:40px;
      text-align: center; 
      padding: 15%;

    }

  .grid-item {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: center; 
    font-size:30px;
    color: white;
    font-family: 'Bebas Neue';
    text-align: center; 
    padding: 150px 0px;
  }

  .grid-text{
    filter: drop-shadow(10px 10px 25px black);
  }
  
  a:link {
    text-decoration: none;
  }

  

 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

